.video-container {
  position: relative;
  width: 600px;
  height: 300px;
  margin: auto;
}

video {
  width: 100%;
  height: 100%;
  background-color: black;
}

#video-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: black;
}

/* Play Pause Overlay */

.play-pause-overlay-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}
.play-pause-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  opacity: 0.5;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.5);
}

.play-pause-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 50%,
    rgba(0, 0, 0, 0.8) 100%
  );
  pointer-events: none; 
}

#play-pause-icon {
  width: 50px;
}

/* Controls */

.controls {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.5s ease;
  opacity: 1;
}

.controls .hidden {
  opacity: 0;
  pointer-events: none;
  display: none;
}



.controls-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.controls-option-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
}

.controls-option-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
}

/* play pause */

#play-icon,
#pause-icon {
  width: 20px;
  height: 20px;
}

#play-icon:hover,
#pause-icon:hover {
  opacity: 0.5;
}

/* time */

.time {
  color: white;
  font-size: 12px;
}

#seek-bar {
  width: 100%;
}

/* volume control */

.volume-control {
  position: relative;
  display: flex;
  align-items: center;
}

#volume-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#volume-bar {
  position: absolute;
  right: -100px;
  width: 100px;
  transform-origin: right;
  opacity: 1;
}

.volume-control:hover #volume-bar,
#volume-bar:hover {
  display: block;
}

/* Settings */

#settings {
  cursor: pointer;
  background: none;
  border: none;
}

#settings-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#settings:hover {
  opacity: 0.5;
}


/* Full screen */

#full-screen {
  cursor: pointer;
  background: none;
  border: none;
}

#full-screen:hover {
  opacity: 0.5;
}

#full-screen-icon {
  width: 20px;
  height: 20px;
}


/* Settings Menu */
.settings-menu {
  position: absolute;
  top: 350px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
  height: 200px;
  overflow-y: scroll;
  scrollbar-width: none; /* For Firefox */
}

.settings-menu::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.settings-option {
  margin-bottom: 10px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.menu-item-icon {
  margin-right: 10px;
}

.menu-item-icon svg {
  fill: white;
}

.menu-item-label {
  flex-grow: 1;
}

.menu-item-content {
  font-size: 0.9em;
  color: #ccc;
}


.speed-options {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  width: 100%;
  z-index: 10;
}

.speed-options li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.speed-options li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.hidden {
  display: none;
}